<div class="row">
  <div class="col-md-10 col-md-offset-1">
      <div class="well well_member_index well_tables">
       <h1 class="member_top_h1_index_font_text">
            Total Members Online </br>
            Total Members Joined </br><br/>
            
            Members List
        </h1>
        
       
            <% @users.each do |user| %>
          
             <% if user.profile %>
              <div class="container-fluid">
                  <table class="table table-hover">
                      <tbody>
                         <tr>
                          <td class="member_index_td_bottom_border">
                  <%= image_tag user.profile.avatar.url(:thumb), class: 'user-show-avatar' %>
                          </td>
                          <td>
                        <%= link_to user do %>
       <%= content_tag :span, user.profile.first_name, class: "first_letter_cap" %> <% end %> <%= user.profile.last_name %>
                         </td>
                          <td>
                  <%= content_tag :span, user.profile.hometown, class: "first_letter_cap" %>
                          </td>
                          <td>
                       
                        <%= link_to "My Profile", user, class: 'btn btn-success' %>
                       
                          </td>
                      </tr>
                     </tbody>
                  </table>
                </div>
             <% end %>
            <% end %>
          
      </div>
  </div>
</div>



